body {
  font-size: 14px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  background-color: #fff;
  color: #4d5156;
  width: min(100% - 2rem, 70rem);
  margin-inline: auto;
  margin: 10px;
}
select,
button,
input[type=submit],
input[type=button] {
  height: 24px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
}
select,
button,
textarea,
input {
  border: solid 1px rgba(0, 0, 0, 0.25);
}
input[type=button]:disabled {
  opacity: 0.5;
}
input[type=text] {
  width: 100%;
  box-sizing: border-box;
}
textarea,
input[type=text],
input[type=number] {
  padding: 5px;
  outline: none;
}
textarea:focus,
input[type=text]:focus,
input[type=number]:focus {
  background-color: #e5f8ff;
}
input[type=number]:read-only {
  background-color: #ededed;
}
input[type=text]:invalid {
  background-color: #ffdfdf;
}
a,
a:visited {
  color: #07c;
}

.note {
  color: #5d5d5d;
  grid-column: 1/3;
  white-space: normal;
  padding: 10px;
}
.one {
  display: grid;
  align-items: center;
  grid-gap: 5px;
}
.two {
  display: grid;
  grid-template-columns: min-content 1fr;
  white-space: nowrap;
  grid-gap: 5px;
  align-items: center;
}
